dist/
www/
loader/
react/
react1/
react-dist/
react-core/src/react-component-lib
react-core/src/components.ts
react-core/src/*.ts
!react-core/src/index.ts

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
